{% extends "base.html" %}
{% block title %}添加商品{% endblock %}
{% block somescript %}
<script>
    $(document).ready(function () {
        $('#submit').click(function () {
            var price = $("#price").val();
            if (price < 0) {
                alert('价格不允许为负数！')
                return false
            }
        });
    });
</script>
{% endblock %}
{% block otherstyle %}
    <style>
        .form-signin {
            margin: 0 auto;
            max-width: 330px;
            padding: 15px;
        }

        .form-signin .form-signin-heading, .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            box-sizing: border-box;
            font-size: 16px;
            height: auto;
            padding: 10px;
            position: relative;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="text"] {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-bottom: 1px;
            margin-top: -7px;
        }

        .form-signin button {
            margin-top: 50px;
        }
    </style>
{% endblock %}
{% block content %}
    <form role="form" class="form-signin" method="post">
        <p>商品名：</p>
        <input type="text" autofocus="" required="" name="goodsname" placeholder="商品名" class="form-control">

        <p>价格：</p>
        <input type="text" id="price" placeholder="价格" name="price" class="form-control">
        <button type="submit" id="submit" class="btn btn-lg btn-primary btn-block">提交</button>
    </form>
{% endblock %}