{% extends "base.html" %}
{% block title %}登录卡迪管理系统{% endblock %}
{% block otherstyle %}
    <style>
        .form-signin {
            margin: 0 auto;
            max-width: 330px;
            padding: 15px;
        }

        .form-signin .form-signin-heading, .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            box-sizing: border-box;
            font-size: 16px;
            height: auto;
            padding: 10px;
            position: relative;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            margin-bottom: -1px;
        }

        .form-signin input[type="password"] {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}


{% block somescript %}
    <script>
//        $(document).ready(function () {
//            alert('新增功能：\n在[其他]菜单内新增[删除商品]选项，可对无用商品进行删除。')
//        });
    </script>
{% endblock %}

{% block top %}{% endblock %}
{% block content %}
    <form role="form" class="form-signin" method="post">
        <h2 class="form-signin-heading">请登录</h2>
        <input type="text" autofocus="" required="" name="username" placeholder="帐号" class="form-control">
        <input type="password" required="" name="password" placeholder="密码" class="form-control">
        <button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
    </form>
{% endblock %}