{% extends "modal_base.html" %}
{% block otherstyle %}
    <style>
        .form-diaoku {
            max-width: 270px;
        }

        .modal-header {
            max-width: 270px;
        }
    </style>
{% endblock %}

{% block somescript %}
    <script>
        $(document).ready(function () {
            $("#mySubmit").click(function (e) {
                e.preventDefault();
                var arrears = $('input:radio:checked').val();
                var customer = $('#customer').val();
                var phonenumber = $('#phonenumber').val();
                var address = $('#address').val();
                var remark = $('#remark').val();

                $.post("/kucun/api/submit_cart/",
                        {
                            arrears: arrears,
                            customer: customer,
                            phonenumber: phonenumber,
                            address: address,
                            remark: remark
                        },
                        function (data, status) {
                            if (data == 'chaoguo') {
                                alert('操作失败！库存不足！')
                            } else if (data == 'stop') {
                                alert('权限不足！')
                            } else if (data == 'false') {
                                alert('操作异常！')
                            } else {
                                alert('操作成功！')
                                $('#myclose').click()
                            }
                        });
            });

            $("#myModal").on("hidden.bs.modal", function (e) {
                $(this).removeData('bs.modal');
                {#                location.reload()#}
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">共计：<b style="color: #ff000a">{{ cart.total_price }}</b>元
        </h4>
    </div>
    <form role="form" class="form-diaoku" method="post" id="form-diaoku">
        <input type="hidden" value="{{ goodsshop.shop.id }}" id="ShopId">
        <input type="hidden" value="{{ goodsshop.goods.id }}" id="goodsId">

        <table class="table table-bordered">
                <td>欠 账：</td>
                <td>
                    <label class="radio-inline">
                        <input type="radio" name="arrears" id="arrears1" value="1">是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="arrears" checked id="arrears2" value="0">否
                    </label>
                </td>
            </tr>
            <tr>
                <td>客 户：</td>
                <td><input type="text" id="customer" name="customer" autocomplete="off"/></td>
            </tr>
            <tr>
                <td>联 电：</td>
                <td><input type="text" id="phonenumber" name="phonenumber" autocomplete="off"/></td>
            </tr>
            <tr>
                <td>地 址：</td>
                <td><input type="text" id="address" name="address" autocomplete="off"/></td>
            </tr>
            <tr>
                <td>备 注：</td>
                <td><textarea type="text" id="remark" name="remark" autocomplete="off"></textarea></td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-lg btn-success submit" id="mySubmit">确定</button>
                </td>
                <td>
                    <button type="button" class="btn btn-lg btn-warning" data-dismiss="modal" id="myclose">关闭</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}