{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="panel-group" id="accordion">
            {% for every_day_sell_record in every_day_sell_records %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter0 }}">
                                {{ every_day_sell_record.date|date:"Y年n月j日" }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ forloop.counter0 }}"
                         class="panel-collapse collapse {% if forloop.counter0 == 0 %}in{% endif %}">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <th>商品名</th>
                                    <th>数量</th>
                                    <th>操作时间</th>
                                    <th>操作人</th>
                                </tr>
                                {% for goods_record in every_day_sell_record.records %}
                                    <tr class="{% if goods_record.change_num > 0 %}success{% elif goods_record.change_num < 0 %}danger{% endif %}">
                                        <td>{{ goods_record.goods }}</td>
                                        <td>
                                            {% if goods_record.change_num > 0 %}+{% endif %}{{ goods_record.change_num }}
                                        </td>
                                        <td>{{ goods_record.date|date:"H:i" }}</td>
                                        <td>{{ goods_record.updater }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}